<launch>
  <arg name="gzname" default="gazebo"/>
  <arg name="extra_gazebo_args" default="--verbose"/>

  <include file="$(find frc2016_competition)/launch/frc2016.launch">
    <arg name="gzname" value="$(arg gzname)" />
    <arg name="extra_gazebo_args" value="$(arg extra_gazebo_args)" />
  </include>

  <!-- stick -->
  <node name="red_joy_teleop" pkg="red_joy_teleop" type="red_joy_teleop" output="screen">
    <param name="scale_angular" type="double" value="100"/>
    <param name="scale_linear" type="double" value="-100"/>
  </node>
  <node pkg="joy" type="joy_node" name="joystick"/>

  <include file="$(find frcred_gazebo)/launch/include/robordion.launch.xml" />
</launch>
